//###########################################################################
// Common
//###########################################################################
#the-page{
	width: 700px;
	margin: auto;
	margin-top: 96px;

	.title-block{
		text-align: center;
		margin-bottom: 96px;

		h2{
			color: $colorSoft;
			font-weight: 300;
			&:hover{color: shade($colorSoft, 25%);}
			margin-top: 0;
			text-transform: lowercase;
		}
		p{
			font-size: 15px; 
			line-height: 20px;
			text-align: left;
		}
	}
}

//###########################################################################
// Animations
//###########################################################################
@include keyframes(fadeIn){
	from{opacity: 0}
	to{opacity: 1}
}